.contact {
  &__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__formtable {
    // border: 2px solid aqua;
    display: flex;
    justify-content: space-between;
    padding: 40px 40px;
    background: linear-gradient(90deg, #161a31, #06091f);
    border-radius: 20px;
    margin-bottom: 50px;

    @media (max-width: 720px) {
      flex-direction: column;
      gap: 40px;
      width: 80%;
      margin-bottom: 90px;
    }
  }

  &__message {
    width: 280px;
    margin-right: 50px;
    text-align: justify;

    @media (max-width: 590px) {
      margin-right: 0px;
      width: fit-content;
    }

    & h3 {
      font-size: 20px;
      margin-bottom: 40px;
      color: #cbacf9;
      @media (max-width: 590px) {
        font-size: 18px;
      }
    }

    & p {
      font-style: italic;
      margin-bottom: 40px;
      @media (max-width: 590px) {
        font-size: 14px;
      }
    }

    & a {
      font-size: 22px;
      color: rgb(173, 173, 173);
    }
  }

  &__webs {
    display: flex;
    justify-content: space-around;
  }

  &__form {
    display: flex;
    flex-direction: column;

    & ::placeholder {
      font-family: "Inter", serif;
    }

    & input {
      width: 200px;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 10px;

      @media (max-width: 590px) {
        width: 75%;
      }
    }

    & textarea {
      width: 250px;
      margin-bottom: 10px;
      height: 120px;
      padding: 5px 10px;
      border-radius: 10px;

      @media (max-width: 590px) {
        width: 90%;
      }
    }

    & button {
      width: fit-content;
      padding: 5px 16px;
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid grey;
      color: rgb(173, 173, 173);
      cursor: pointer;

      &:hover {
        color: #cbacf9;
      }
    }
  }
}
