.landing {
  &__container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  &__title {
    font-size: 120px;
    text-align: center;
    margin: 0;
    margin-top: -75px;
    line-height: 1.1;

    @media (max-width: 920px) {
      font-size: 85px;
    }

    @media (max-width: 590px) {
      font-size: 50px;
    }
  }

  &__span {
    color: #cbacf9;
    font-size: 125px;

    @media (max-width: 920px) {
      font-size: 95px;
    }

    @media (max-width: 590px) {
      font-size: 55px;
    }
  }

  &__text {
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;

    @media (max-width: 590px) {
      font-size: 10px;
    }
  }

  &__box {
    position: relative;
    padding: 14px 28px;
    border-radius: 20px;
    background: linear-gradient(90deg, #161a31, #06091f);
    color: white;
    text-align: center;
    font-weight: 300;
    z-index: 1;
    cursor: pointer;
    margin-top: -20px;

    @media (max-width: 590px) {
      font-size: 14px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px;
      border-radius: 20px;
      background: linear-gradient(45deg, #967cbe, #21022f);
      background-size: 300% 300%;
      z-index: -1;
      animation: borderAnimation 4s infinite linear;
      padding: 3px;
      mask: linear-gradient(white 0 0) content-box, linear-gradient(white 0 0);
      mask-composite: exclude;
      -webkit-mask: linear-gradient(white 0 0) content-box,
        linear-gradient(white 0 0);
      -webkit-mask-composite: xor;
    }

    & p {
      margin: 0;
    }
  }

  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: white;
  }
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
