.nav {
  padding: 20px 35px;
  border-radius: 20px;
  background: linear-gradient(90deg, #161a31, #06091f);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  border: 1px solid rgb(56, 56, 56);
  z-index: 3;

  @media (max-width: 920px) {
    width: 100vw;
  }

  &__container {
    height: 20vh;
    margin: 0;
  }

  &__ul {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;

    @media (max-width: 590px) {
      gap: 20px;
    }
  }

  &__li {
    transition: all 0.3s ease;
    &:hover {
      color: #b9b9b9;
      font-weight: 350;
    }

    @media (max-width: 590px) {
      font-size: 12px;
    }
  }
}
