.nav {
  padding: 20px 35px;
  border-radius: 20px;
  background: linear-gradient(90deg, #161a31, #06091f);
  position: fixed;
  border: 1px solid rgb(56, 56, 56);
  z-index: 3;

  &__container {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__ul {
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    cursor: pointer;
  }

  &__li {
    transition: all 0.3s ease;
    &:hover {
      color: #b9b9b9;
      font-weight: 350;
    }
  }
}
