.perfil {
  &__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @media (max-width: 720px) {
      height: fit-content;
    }

    @media (max-width: 590px) {
      height: fit-content;
    }
  }

  &__title {
    color: #cbacf9;
  }

  &__1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @media (max-width: 720px) {
      flex-direction: column;
      gap: 60px;
    }

    @media (max-width: 590px) {
      flex-direction: column;
      gap: 60px;
    }
  }

  &__bio {
    max-width: 35%;

    background: linear-gradient(90deg, #161a31, #06091f);
    padding: 27px 36px;
    border-radius: 20px;

    @media (max-width: 990px) {
      max-width: 45%;
      padding: 20px 30px;
    }

    @media (max-width: 720px) {
      max-width: 75%;
      padding: 20px 30px;
    }

    & h3 {
      margin-bottom: 10px;
    }

    & p {
      font-style: italic;
      line-height: initial;
      text-align: justify;
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      @media (max-width: 590px) {
        font-size: 14px;
      }
    }
  }
  &__cv {
    cursor: pointer;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;

    &:hover {
      color: rgb(218, 218, 218);
    }

    &:active {
      color: #b38bf0;
    }
  }

  &__icon {
    font-size: 18px;
    margin-bottom: -4px;
    margin-left: 8px;
  }

  &__dev {
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-family: "Micro 5", serif;
    font-size: 26px;
    color: rgb(221, 221, 221);

    @media (max-width: 990px) {
      max-width: 45%;
    }

    @media (max-width: 590px) {
      width: 75%;
      font-size: 22px;
      margin-bottom: 60px;
    }

    & p {
      display: inline-block;
      transition: transform 0.3s ease;
      &:hover {
        color: #cbacf9;
        transform: scale(1.2);
      }
    }
  }
}
